.player-results{
  text-align: center;
  background-image: url(../assets/euro2020_1.jpg);
}
.results{
  // width: 50%;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
}
.score{
  display: flex;
  justify-content: center;
  margin: auto;
  
  font-weight: bold;
  p{
    font-size: 2rem;
    color: black;
  }

}