.main {
    display: flex;
    justify-content: space-between;
    // margin: 0 2em;
    // margin: 0 0;
    // background-image: url(../assets/ronaldo.png);
    
}

@media screen and (max-width: 769px) {
.main{
    flex-direction: column;
}
}