




// .game {
//     width: 50%;
// }
.game-form{
    // width: 75%;
    width:60%;
}
form{
    // border: solid 1px;
    padding: 2rem;
   
    // background-image: linear-gradient(#f5f7fa, #c3cfe2);
    background-color: #f5f7fa;
    // background-color: #8B0000;
    opacity: 0.8;
    // background-color: #90EE90;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    // background-color: #CBD58D;
    // background-image: linear-gradient(#c2e59c, #64b3f4);
    flex-direction: column;
    div{
        input{
            width: 25%;
            min-width: auto;
            border: 1px solid;
            align-self:center;
        }
    } 
}

.form-control{
    width: 3rem;
    min-width: auto;
    border: 1px solid;
    
}
.form-group{
    // margin-left:1.5em;
    text-align: center;
}

P {
    font-weight: bold;
    margin: 0 0.7rem;
    text-align: center;
    width: 6rem;
    color: #000000;
    color:#001f3f;
    align-self: center;
    // font-family: Georgia, sans-serif;
}
h2{
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
    // color:#001f3f;
    font-family: Georgia, sans-serif;
font-size: 2rem;
letter-spacing: -2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.team{
    display: flex;
    
}
.winner{
    display: flex;
    justify-content: center;
    
    // font-family: Georgia, sans-serif;
}

.validation-comment{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:red;
    width: auto;
    font-weight: semi-bold;
}
@media screen and (max-width: 769px) {

}