.App {
  text-align: center;
  margin: auto;
  // background-image: linear-gradient(#f5f7fa, #c3cfe2);
  
  background-image: url(./assets/ronaldo1.jpg);
  // display: flex;
}


@media screen and (max-width: 600px) {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




